@model MyWheel.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="transparent-container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>@ViewBag.Title</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" title="Email"><i class="fas fa-envelope"></i></span>
                        </div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" title="Password"><i class="fas fa-key"></i></span>
                        </div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" title="Confirm Password"><i class="fas fa-key"></i></span>
                        </div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                    </div>

                    @*<div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" title="upload profile picture"><i class="fas fa-id-badge"></i></span>
                        </div>
                        <div class="custom-file">
                            <label class="custom-file-label" for="fileUpload">Choose file</label>
                            @Html.TextBoxFor(m => m.ProfilePic, new { type = "file", @class = "custom-file-input", id = "fileUpload" })                            <label class="custom-file-label" for="fileUpload"></label>
                        </div>
                            </div>*@

                    <div class="form-group">
                        <input type="submit" value="Register" class="btn float-right">
                    </div>
                }
            </div>

        </div>
    </div>
</div>



@*<h2>@ViewBag.Title.</h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ProfilePic, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="file" name="ProfilePic" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#fileUpload').on('change', function () {
            //get the file name
            const fileName = this.files[0].name;
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').append(fileName);
        })
    </script>
}