@model MyWheel.Models.Review

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@Html.HiddenFor(model => model.Id)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Review</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.PlaceId, "PlaceId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PlaceId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PlaceId, "", new { @class = "text-danger" })
            </div>
        </div>

        <table class="table">

            @foreach (var item in ViewBag.Questions)
            {
                <tr>
                    <td>
                        @(item.Text)
                    </td>
                    <td>
                        @foreach (var answer in item.Answers)
                        {
                            <input type="radio" name="@item.Id" value="@answer.Id"> @answer.Text<br>
                        }
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>*@
                </tr>
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        const radios = document.querySelectorAll('input[type="radio"]');
        for (let r of radios) {
            r.onclick = e => {
                console.log(e.target.name)
                console.log(e.target.value)
                $.ajax({
                    method: "PUT",
                    url: "/Rest/UserAnswer",
                    data: {
                        ReviewId: document.getElementById('Id').value,
                        AnswerId: e.target.value
                    },
                    success: function (response) {
                        console.log(response);
                        console.log("success")
                    }
                })
                //$.ajax({
                //    method: "POST",
                //    url: "/Rest/Place",
                //    data: {
                //        Id: 1,
                //        Score: 1
                //    },
                //    success: function (response) {
                //        console.log(response);
                //        console.log("success")
                //    }
                //})


            }
        }
    </script>

}